* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #040404;
  font-family: "Itim", serif;
  font-weight: 400;
  font-style: normal;
}
.profile-card {
  background: #171717;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 80%;
  transition: transform 0.3s;
  @media (min-width: 900px) {
    width: 50%;
  }
}
.profile-card:hover {
  transform: scale(1.05);
}
.profile-card img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #00b300;
}
.profile-card h2 {
  margin: 10px 0;
  color: #e6e6e6;
}
.profile-card h4 {
  margin: 5px 0;
  color: #00b300;
}
.profile-card p {
  margin: 5px 0;
  color: #bfbfbf;
}
.bio {
  padding: 6px 0;
}
.location {
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
  & > span {
    color: #00b300;
  }
}
.social-links {
  padding: 5px 0;
}
.social-links a {
  margin: 0 8px;
  color: #00b300;
  font-size: 20px;
}
